@model MusteriWebProject.Models.CustomerC

@{
    ViewData["Title"] = "Kayit Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Müşteri Kayıt Ekleme</h1>
<br />

<form class="form-group" method="post">


    <label asp-for="MusteriNo"></label>
    <input asp-for="MusteriNo" class="form-control"/>

    <label asp-for="Adı"></label>
    <input asp-for="Adı" class="form-control" />

    <label asp-for="Soyadı"></label>
    <input asp-for="Soyadı" class="form-control" />

    <label asp-for="Kaynak"></label>
    <input asp-for="Kaynak" class="form-control" />

    <label asp-for="KayitTarihiBaslangici"></label>
    <input asp-for="KayitTarihiBaslangici" class="form-control" />

    <label asp-for="KayitTarihiBitisi"></label>
    <input asp-for="KayitTarihiBitisi" class="form-control" />

    <label asp-for="Kampanya"></label>
    <select asp-for="Kampanya" asp-items="@(List<SelectListItem>)ViewBag.dgr" class="form-control"></select>

    <label asp-for="GorusmeSonucu"></label>
    <input asp-for="GorusmeSonucu" class="form-control" />

    <label asp-for="TelefonNo"></label>
    <input asp-for="TelefonNo" class="form-control" />

    <label asp-for="AramaTarihi"></label>
    <input asp-for="AramaTarihi" class="form-control" />

    <label asp-for="Temsilci"></label>
    <input asp-for="Temsilci" class="form-control" />

    <br />

    <div class="text-center">

        <button class="btn btn-primary">Yeni Kayıt Ekle</button>

    </div>



</form>

